.intro__text_position-bottom {
    max-width: 383px;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    white-space: pre-line;
    width: 100%;
}


@media screen and (max-width: 768px) {
    .intro__text_position-bottom {
        font-size: 12px;
        line-height: 19px;
    }
}