.lead__title {
    width: 100%;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 93px;
    text-align: center;
    margin: 0 auto 48px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-height: 184px;
    text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
}
@media screen and (min-width: 1280px) {
    .lead__title {
        max-width: 782px;
    }
}

@media screen and (width: 1024px) {
    .lead__title {
        margin: 0 auto 46px;
    }
}
@media screen and (min-width: 768px) {
    .lead__title {
        font-size: 96px;
        line-height: 93px;
    }
}
@media screen and (width: 768px) {
    .lead__title {
        max-width: 720px;
    }
}
@media screen and (max-width: 767px) {
    .lead__title {
        font-size: 12.5vw;
        line-height: 1.03;
        margin: 0 auto 7vw;
    }
} 

@media screen and (max-width: 375px) { 
    .lead__title {
        max-width: 343px;
        margin: 0 auto 8px;
        font-size: 40px;
        line-height: 44px;
    }
}

@media screen and (max-width: 350px) {
    .lead__title {
        max-width: 288px;
        
        
    }
}