
.place__image {
    max-width: 460px;
    margin: 0;
    width: 100%;
    align-self: baseline;
}

@media screen and (max-width: 651px) {
    .place__image {
            max-width: none;
    }
}

@media screen and (max-width: 320px) {
    .place__image {
        width: 100%;
    }
}